<div class="nav-bar">
  <a href="/">Home</a>
  <a class = "active" href="catalog">Catalog</a>
  <a href="restaurants">Restaurants</a>
  <a href="locations">Locations</a>
  <a href="login_page" id="login">Sign In</a>
</div>

<h1>Pizza Time</h1>
<p>This is the catalog of all possible items</p>
<div class="content" id="main">
  <div class="catalog">
    {{#with wrapper}}
        {{#with objects.[0]}}
            <div class="topContainer">
              <table>
              <tr>
                  <th>Topping</th>
                  <th>Price</th>
              </tr>
              {{#each topping}}
                  <tr>
                      <td>{{name}}</td>
                      <td>{{price}}</td>
                  </tr>
            {{/each}}
            </table>
          </div>
        {{/with}}
        {{#with objects.[1]}}
            <div class="topContainer">
              <table>
              <tr>
                  <th>Restaurant Name</th>
                  <th>Address</th>
                  <th>Zip Code</th>
                  <th>Phone Number</th>
              </tr>
              {{#each restaurant}}
                  <tr>
                      <td>{{rest_name}}</td>
                      <td>{{Address}}</td>
                      <td>{{Zipcode}}</td>
                      <td>{{PhoneNumber}}</td>
                  </tr>
            {{/each}}
            </table>
          </div>
        {{/with}}
        {{#with objects.[2]}}
            <div class="topContainer">
              <table>
              <tr>
                  <th>Name</th>
                  <th>Crust Type</th>
                  <th>Size</th>
              </tr>
              {{#each pizza}}
                  <tr>
                      <td>{{name}}</td>
                      <td>{{CrustType}}</td>
                      <td>{{Size}}</td>
                  </tr>
            {{/each}}
            </table>
          </div>
        {{/with}}
    {{/with}}
  </div>
</div>
<footer>Created for CS340 class</footer>
