
<div class="nav-bar">
  <a href="/">Home</a>
  <a class = "active" href="catalog">Catalog</a>
  <a href="/restaurants">Restaurants</a>
  <a href="/locations">Locations</a>
  <a href="/login_page" id="login">Sign In</a>
</div>

<h1>Pizza Time</h1>
<p>This is the catalog of all possible items, as an Employee you can change everything here.</p>
<div class="content" id="main">
  <div class="catalog">
    {{#with wrapper}}
        {{#with objects.[0]}}
            <div class="topContainer">
              <center><table id="firstT"></center>
              <tr>
                  <th>Topping</th>
                  <th>Price</th>
              </tr>
              {{#each topping}}
                  <tr>
                      <td><input type="text" name="Topname" value="{{name}}"></input></td>
                      <td><input type="text" name="Price" value="{{price}}"></input></td>

			<td><button class = "UpdateTopping" pk="{{name}}">Update</button></td>
			<td><button class = "DeleteTopping" pk="{{name}}">Delete</button></td>

                  </tr>
            {{/each}}
		 <tr>
                    <td><input type="text" name="Topname" placeholder="Insert Topping Name"></input></td>
                    <td><input type="text" name="Price" placeholder="Insert Price"></input></td>
			<td><button id = "UpdateFirst">Insert</button></td>
                </tr>
            </table>
            <div id="error_top"></div>
          </div>
        {{/with}}
        {{#with objects.[1]}}
            <div class="topContainer">
              <center><table></center>
              <tr>
                  <th>Restaurant Name</th>
                  <th>Address</th>
                  <th>Zip Code</th>
                  <th>Phone Number</th>
              </tr>
              {{#each restaurant}}
                  <tr>
                      <td><input type="text" name="RName" value="{{rest_name}}"></input></td>
                      <td><input type="text" name="Address" value="{{Address}}"></input></td>
                      <td><input type="text" name="Zipcode" value="{{Zipcode}}"></input></td>
                      <td><input type="text" name="PhoneNumber" value="{{PhoneNumber}}"></input></td>
			                <td><button class = "UpdateRestaurant" pk={{RestaurantID}}>Update</button></td>
                      <td><button class = "DeleteRestaurant" pk={{RestaurantID}}>Delete</button></td>
                  </tr>
            {{/each}}
		<tr>
                    <td><input type="text" name="RName" placeholder="Insert Restaurant Name"></input></td>
                    <td><input type="text" name="Address" placeholder="Insert Address"></input></td>
                    <td><input type="text" name="Address" placeholder="Insert Zipcode"></input></td>
                    <td><input type="text" name="Address" placeholder="Insert Phone #"></input></td>
                	<td><button id = "UpdateSecond">Insert</button></td>
		</tr>
            </table>
            <div id="error_rest"></div>
          </div>
        {{/with}}
        {{#with objects.[2]}}
            <div class="topContainer">
              <center><table></center>
              <tr>
                  <th>Link To Pizza</th>
                  <th>Name</th>
                  <th>Crust Type</th>
                  <th>Size</th>
              </tr>
              {{#each pizza}}
                  <tr>
                      <td><a href="/pizzas/{{pizzaID}}">{{name}}</a></td>
                      <td><input type="text" name="PizzaName" value="{{name}}"></input></td>
                      <td><input type="text" name="CrustType" value="{{CrustType}}"></input></td>
                      <td><input type="text" name="Size" value="{{Size}}"></input></td>
                			<td><button class = "UpdatePizza" pk={{pizzaID}}>Update</button></td>
                      <td><button class = "DeletePizza" pk={{pizzaID}}>Delete</button></td>
                  </tr>
            {{/each}}
		<tr>
                    <td></td>
                    <td><input type="text" name="pizzaName" placeholder="Insert Pizza Name"></input></td>
                    <td><input type="text" name="CrustType" placeholder="Insert CrustType"></input></td>
                    <td><input type="text" name="PizzaSize" placeholder="Insert Size"></input></td>
                	<td><button id = "UpdateThird">Insert</button></td>
		</tr>
            </table>
            <div id="error_pizza"></div>
          </div>
        {{/with}}
    {{/with}}
  </div>
</div>
<footer>Created for CS340 class</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/catalog.js"></script>

